@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply  relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-xl;
  }
 .scale-transition {
    @apply transition ease-in-out duration-150 hover:bg-secondary hover:scale-110 ;
  }
  .sidebar-btn {
    @apply scale-transition sidebar-icon btn btn-circle flex tooltip tooltip-right z-50;
  }
  .fixed-btn {
    @apply fixed bottom-4 left-4 z-50;
  }
  .text-underline-decoration {
    @apply underline decoration-secondary  decoration-4;
  }
  .custom-textarea {
    @apply textarea bg-base-200 textarea-ghost focus:outline-0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow-wrap {
  overflow-wrap: break-word;
}

textarea {
  resize: none;
}

