@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow-wrap {
  overflow-wrap: break-word;
}

